body{
  background-color: #fffcfa;
  font-style: normal;
  font-family: "TrendSansW00-Four";
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#banner{
  height: 574px;
  background-image: url('images/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
#banner .menuicon{
  margin-top: 70px;
    margin-left: 70px;
}
#banner .menuicon div {
  width: 50px;
  height: 4px;
  background-color: white;
  margin: 8px 0;
  margin-left: 20px;
}
#banner .logo {
  margin-left: 42%;
}

#banner h4{
 color: white;
     text-align: center;
    font-weight: 200;
    font-size: 30px;
}
#banner span{
  font-weight: 900;
}

/*end of banner styling*/

.meals {
  width: auto;
  margin: auto;
}
.meals section {
  display: flex;
}

.meals div {
  
  width: auto;
  height: 208px;
}
.meals #second {
  flex-wrap: wrap;
  background-color: #c7c3c3;
}

.meals #content {
  text-align: center;
 
}
.meals h2{
  padding-top: 25px;
  padding-bottom: 25px;
}

.meals span{
  background-color: #F15A29;
  padding: 40px;

}
.meals #images{
  position: relative;

}

.meals .center {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}
.meals .right {
  position: absolute;
  top: 90%;
  left:15%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}
.meals .left {
  position: absolute;
  top: 90%;
  left: 85%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}
.meals .text-block {
  position: absolute;
  bottom: 0px;
  right: 350px;
  background-color: #c7c3c3;
  color: white;
  padding-left: 327px;
  padding-right: 20px;
  opacity: 60%;
}

/*end of meals styling*/

.fastfood {
  width: auto;
  margin: auto;
}
.fastfood section {
  display: flex;
  padding: 10px;
}

.fastfood div {
  background-color:white;
  width: 400px;
  height: 300px;
  margin: 20px;
}
.fastfood #second {
  flex-wrap: wrap;
}

.fastfood #content {
  padding: 10px;
}

.fastfood h5 {
  border: solid #F15A29 2px;
  margin-left: 100px;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
  text-align: center;
  color: #F15A29;
}

/*end of fastfood styling*/

.drinks {
  width: auto;
  margin: auto;
}
.drinks section {
  display: flex;
  padding: 10px;
}

.drinks div {
  background-color: white;
  width: 400px;
  height: 300px;
  margin: 20px;
}
.drinks #second {
  flex-wrap: wrap;
}

.drinks #content {
  padding: 10px;
}

.drinks h5 {
  border: solid #F15A29 2px;
  margin-left: 100px;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
  text-align: center;
  color: #F15A29;
}

/*end of drinks styling*/